body{
  background-color: pink;
  overflow-x: hidden;
  overflow-y: hidden;
}
h2, h1 {
  color: yellow;
  font-family: sans-serif ;
  display: inline;
}

input[type=text]{
    width: 30%;
    padding: 12px 20px;
    margin: 10px 800px 8px;
    background-color: #8FBBC6;
    color: white;
    font-size: medium;
    display: inline-block;
    border-color: coral;
    border-style: hidden hidden solid hidden;  
    
  }
  input[type=email]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 800px;   
    background-color: #A3C0C4;
    color: white;
    font-size: medium;
     display: inline-block;
    border-color: coral;
    border-style: hidden hidden solid hidden;  
    
  }
  input[type=tel]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 800px;   
    background-color: #B7C5C1;
    color: white;
    font-size: medium;
     display: inline-block;
    border-color: coral;
    border-style: hidden hidden solid hidden;  
    
  }
    
  input[type=submit] {
    width: 33%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 800px;   
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: medium;
  }
  
  input[type=submit]:hover {
    background-color: cyan;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-image: url(d1.png);
    height:800px;

  }